TELEGRAM_TOKEN=8656945768:AAE4-rNQ6EDm7wPNorQctAXWfcSYkCv1b2U
CHAT_ID=-1004365660319

RISK_PER_TRADE=0.01
MAX_DAILY_LOSS=0.05
MAX_DAILY_TRADES=10
MAX_SIMULTANEOUS=3

SCAN_INTERVAL=40
COOLDOWN_MIN=60
TRADE_EXPIRY_HOURS=8
